include README.rst
include CHANGES.rst
include setup.cfg
include LICENSE.rst
include pyproject.toml



recursive-include dk_hst_tools *.pyx *.c *.pxd
recursive-include docs *
recursive-include licenses *
recursive-include scripts *
recursive-include dk_hst_tools/data *


prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
